.img:hover {
  margin-bottom: 15%;
  transition: 0.7s;
  box-shadow: 1px 3px 5px #888888;
  cursor: pointer;
  top: 20%;
}

.img:hover .card_to_hover {
  opacity: 1;
  transform: translateY(30%);
  z-index: 1;
  color: white;
}

.img {
  z-index: 1;
}
.card_to_hover {
  border: 0;
  background-color: transparent;
  color: transparent;
  font: 0 / 0;
  text-shadow: none;
}

.heading {
  font-weight: bold;
}
.badge {
  font-size: 10px;
  background-color: #c0392b;
  color: white;
}
.icons {
  color: #c0392b;
  font-size: 15px;
}
.top_division {
  background-color: #1b1b1b;
}
.para {
  margin-top: 3px;
  font-weight: bold;
}
.button {
  border-radius: 0%;
  font-size: 15px;
}
.what_to_learn {
  margin-top: 20px;
  width: 98%;
}
.bicheck {
  margin-left: 40%;

  font-size: 25px;
}
.head {
  font-weight: bold;
}
.trainer {
  margin-top: 20px;
  width: 98%;
}
.inst_img {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.inst_name {
  font-size: 25px;
}
.go_to_profile {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  color: #ffffff;
}

/* jt details */
.jt_detail_course {
  width: 100%;
  margin-top: 30px;
}
.jt_detail_course .font-weight-bold {
  text-align: center;
  width: 98%;
  background-color: #e6e6e6;
  padding: 12px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
}

.toggle {
  width: 98%;
  border-radius: 0;
  text-decoration: none;
  border: 2px solid #e6e6e6;
}

@media (max-width: 1280px) {
  .go_to_profile {
    width: 30%;
  }
}

@media (max-width: 830px) {
  .go_to_profile {
    width: 60%;
  }
}
.innertext {
  line-height: 0px;
  color: #ffffff;
}
.toggle {
  width: 98%;
  border-radius: 0;
  text-decoration: none;
}
.icon-p {
  font-size: 25px;
}

.toggled {
  width: 98%;
  box-shadow: none;
  border: 1px solid #e6e6e6;
  padding-left: 5%;
}
.p {
  /*     margin-right: 500px; */
  line-height: 0px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  /* color: rgb(49, 49, 49); */
}
/* .p:hover{
    text-decoration: none;
} */

.toggle2 {
  width: 90%;
  /* background-color: #FBFBF8; */
  border: 1px solid rgb(179, 179, 179);
}
.content {
  font-size: 20px;
  line-height: 20px;
}
.iconvid {
  margin-right: 10px;
  font-size: 25px;
  font-weight: bold;
  color: #81807b;
}
.price {
  font-weight: bold;
  margin-right: 20px;
}
.fixed {
  position: fixed;
  width: 25%;
  margin-right: auto;
  z-index: 1;
  height: 480px;
  margin-top: -30px;
}
.cut {
  text-decoration: line-through;
}
.off {
  font-weight: bold;
  font-size: 15px;
  margin-left: 10px;
}
.alert {
  font-weight: bold;
}
.btn2 {
  border-radius: 3px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 15px;
  font-weight: bold;
  background-color: #ec5252;
  border: 1px solid #ec5252;
}
.btn2:hover {
  background-color: #e92828;
  transition: 0.7s;
  border: 1px solid #e92828;
}
.btn3 {
  border-radius: 3px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 90%;
}

.container {
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
.imgBx {
  /*  margin-top: 20px;
    height:200px;*/
  transition: 0.2s ease-out;
}

.container .card {
  position: relative;
  max-width: 300px;
  height: 215px;
  background: #ffffff;
  margin: 30px 23px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.7s ease-in;
}
.container .card:hover .imgBx {
  margin-top: -80px;
  /* height: 420px; */
  transition: 0.2s ease-in-out;
}

.container .card .imgBx {
  position: relative;
  width: 260px;
  height: 200px;
  top: -30px;
  left: 5px;
  z-index: 1;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}
.container .card .imgBx img {
  max-width: 100%;
  border-radius: 4px;
}
.container .card .content {
  position: relative;
  margin-top: -40px;
  padding: 10px 15px;
  text-align: left;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0s ease-out;
}
.container .card:hover .content {
  position: relative;
  visibility: visible;
  opacity: 1;
  margin-top: -20px;
  transition-delay: 0.2s;
}
.img1 {
  border-radius: 50%;
  width: 28%;
  margin-left: auto;
  margin-right: auto;
}
.nameinst {
  font-size: 1.5rem;
  margin-top: 10px;
}
.desc {
  font-size: 1rem;
  line-height: 5px;
}
.info {
  width: 30%;
  border-radius: 0px;
  font-size: 0.8rem;
}

/* nrw code JITUL TERON */
#jt_all_course .mt-2.card .card-body {
  position: relative;
}

.dashboard-wrapper #jt_all_course.row .card-body {
  padding: 1rem;
}
.dashboard-wrapper #jt_all_course.row .card-body .row {
  margin: 0 auto;
}
.dashboard-wrapper #jt_all_course.row .card-body h2.font-weight-bold {
  font-size: 1rem;
}

.dashboard-wrapper #jt_all_course.row .col-12 .card {
  width: 100%;

  min-height: 480px !important;
  /* height: auto; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.dashboard-wrapper #jt_all_course .jt_cart {
  margin-bottom: 20px;
}
.dashboard-wrapper #jt_all_course .jt_cart > * {
  width: 100%;
  margin-bottom: 20px;
}
.dashboard-wrapper #jt_all_course .jt_cart p {
  font-size: 1rem !important;
}

.dashboard-wrapper #jt_all_course .jt_tags .row {
  position: absolute;
  bottom: 20px;
}

/*  */
@media (max-width: 1140px) {
  .dashboard-wrapper #jt_all_course.row .col-12 .card {
    min-height: 500px !important;
  }
}

@media (max-width: 1000px) {
  .dashboard-wrapper #jt_all_course.row .col-12 .card {
    min-height: 530px !important;
  }
}

.all_course_card {
  height: 350px;
}

.all_course_card-3 {
  height: 400px;
}

@media screen and (max-width: 1200px) {
  .all_course_card-1 {
    height: 350px;
  }

  .all_course_card-2 {
    height: 500px;
  }
}

/* new css  for courses list*/

.course-card-container {
  display: grid;
  gap: 1rem;
  padding: 2rem 0;
  grid-template-columns: auto auto;
}

.course-card {
  position: relative;
  border-radius: 7px;
  box-shadow: 5px 5px 16px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 350px;
  padding-bottom: 1rem;
}

.course-card-price {
  background: red;
  color: white;
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  border-radius: 7px;
  font-size: 16px;
}

.img-container {
  width: 100%;
  height: 150px;
  background: transparent;
  margin-bottom: 1.5rem;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.course-card-content {
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
}

.course-card-content h2 {
  font-size: 20px;
  font-weight: 700;
}

.course-card-content p {
  margin-top: 1.5rem;
  font-size: 15px;
  font-weight: 400;
  display: none;
}

.course-card-tags {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  padding: 0rem 1rem;
  gap: 0.2rem;
}

.tag {
  background: blue;
  padding: 0.4rem 0.5rem;
  color: white;
  border-radius: 7px;
  display: grid;
  place-items: center;
}

@media screen and (min-width: 768px) {
  .course-card-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .course-card {
    height: 480px;
  }

  .course-card-content p {
    display: block;
  }

  .course-card-tags {
    display: grid;
    position: absolute;
    bottom: 20px;
  }
}

@media screen and (min-width: 820px) {
  .course-card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
