#myicon {
    font-size: 470%;
  }
  #crd {
    height: 150px;
    border-radius: 0%;
  }
  #crd:hover {
    cursor: pointer;
    box-shadow: 0px 2px 7px 3px #5f5f5f;
    transition: 0.7s;
  }
  .head {
    font-size: 150%;
    margin-top: 20%;
  }
  @media (max-width: 820px) {
    #l1 {
      width: 200%;
    }
  }
  #dott {
    width: 8px;
    height: 8px;
    background-color: #6fb327;
    margin-left: 10px;
    display: inline-block;
    border: none;
    border-radius: 50%;
  }
  
  #dott2 {
    width: 8px;
    height: 8px;
    background-color: #ff9f1d;
    margin-left: 10px;
    display: inline-block;
    border: none;
    border-radius: 50%;
  }
  #dott3 {
    width: 8px;
    height: 8px;
    background-color: #2ec4b6;
    margin-left: 10px;
    display: inline-block;
    border: none;
    border-radius: 50%;
  }
  .thecard {
    width: 50%;
  }
  #dott4 {
    width: 8px;
    height: 8px;
    background-color: #ff9f1d;
    margin-left: 10px;
    display: inline-block;
    border: none;
    border-radius: 50%;
  }
  
  #dott5 {
    width: 8px;
    height: 8px;
    background-color: #6fb327;
    margin-left: 10px;
    display: inline-block;
    border: none;
    border-radius: 50%;
  }
  #dott6 {
    width: 8px;
    height: 8px;
    background-color: #2ec4b6;
    margin-left: 10px;
    display: inline-block;
    border: none;
    border-radius: 50%;
  }
  #no {
    line-height: 5px;
  }
  .line {
    width: 97%;
  }
  Card {
    border-radius: 0%;
  }
  #search {
    width: 25%;
  }
  #searchbutton {
    border-radius: 0%;
  }
  thead th {
    position: sticky;
    top: 0;
    background-color: #ffffff;
  }
  

  /* jitul */

  #jt_blog_css .card .create_button_here {  
    display:flex;
    width: 100%;
    align-items: center;
    justify-content:flex-end;
  }

  .jt_table{
    /* height: 870px !important;  */
  }