@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

:root {
  --shadow: 2px 2px 8px 1px rgb(0 0 0 / 20%);
}

.mobile-only-toggle {
  position: absolute;
  z-index: 10;
  top: 10%;
  background-color: var(--theme-color-4);
  color: white;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-toggle {
  left: 0;
  transform: translateX(-15px); /* due to padding for bootstrap */
}

.section-toggle {
  right: 0;
  transform: translateX(15px); /* due to padding for bootstrap */
}

.quiz-container {
  font-family: 'Roboto', sans-serif;
  padding: 2% 5%;
  min-height: 90vh;
  display: grid;
  grid-template-rows: 100px minmax(auto, 75vh);
}

.quiz-control {
  height: 50px;
}

.quiz-container .btn {
  font-size: 19px;
  border-radius: 0;
  width: 125px;
}

.shadow-box {
  box-shadow: var(--shadow);
}

.timer-profile-container {
  display: flex;
  justify-content: space-between;
}

.timer-profile-container > * {
  width: 45%;
  box-shadow: var(--shadow);
  /* height: 120px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-profile {
  width: 50px;
  height: 60px;
}

.question-grid {
  display: grid;
  grid-template-rows: 50px minmax(auto, 100%);
  padding: 1rem;
}

.info-grid {
  display: grid;
  /* grid-template-rows: 100px auto 150px; */
  grid-template-rows: 100px calc(100% - 282px) 150px;
  grid-row-gap: 1rem;
  padding: 1rem;
}

.sections-container {
  width: 100%;
  height: 300px;
  overflow: auto;
}

.section-body {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-items: center;
}

.section-body .question {
  background-color: #d4d4d4;
  color: white;
  width: 30px;
  height: 30px;
}

.answered {
  background-color: #84c02c !important;
}

.not-answered {
  background-color: #e23a00 !important;
}

.marked {
  background-color: #009efd !important;
}

.unvisited {
  background-color: #d4d4d4;
}

.label {
  min-width: fit-content;
  width: 80%;
  text-align: center;
  color: white;
}

.option-wrap {
  cursor: pointer;
}

.mcq-info {
  font-size: 12px;
}

.radio-mimic {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid var(--theme-color-1);
  position: relative;
}

.radio-mimic > .check {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  background-color: var(--theme-color-1);
}

.light-bg {
  background-color: var(--theme-color-1-10);
}

.title-bg {
  background-color: var(--theme-color-5-10);
}

.slider-wrap {
  display: grid;
  justify-items: center;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .quiz-container {
    padding: 2% 15px; /* 15px for bootstrap row */
    grid-template-rows: 75px 100px auto;
  }

  .quiz-container .btn {
    border-radius: 0;
    width: 50px;
  }

  .question-grid {
    grid-template-rows: 50px minmax(auto, 50vh);
  }
  .info-grid {
    display: none;
  }
}
